/* http://meyerweb.com/eric/tools/css/reset/ 
 * * v2.0 | 20110126
 * * License: none (public domain) */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Paytone+One&display=swap");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  padding: 0;
  background-color: inherit;
  border: none;
  cursor: pointer;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: "Paytone One", sans-serif;
}

.container {
  width: 100%;
  height: 100%;
  background-color: #333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.scene {
  width: 600px;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #307BE1;
  position: relative;
  cursor: pointer;
}

.title {
  position: absolute;
  left: 20px;
  top: 20px;
  color: #fff;
  font-size: 36px;
  opacity: 0;
}

.question {
  font-size: 35px;
  color: #FFC12C;
  margin: 0;
  display: none;
}

.person {
  position: relative;
}
.person > .message {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  position: absolute;
  left: -200px;
  top: 50px;
  opacity: 0;
}
.person > .hairs {
  position: relative;
}
.person > .hairs > .hair1 {
  width: 150px;
  height: 80px;
  border-radius: 40px;
  background-color: #fff;
  -webkit-box-shadow: inset -10px -10px 0px rgba(0, 0, 0, 0.1);
          box-shadow: inset -10px -10px 0px rgba(0, 0, 0, 0.1);
  margin-left: 10px;
}
.person > .hairs > .hair2 {
  width: 150px;
  height: 60px;
  border-radius: 30px;
  background-color: #fff;
  -webkit-box-shadow: inset -10px -10px 0px rgba(0, 0, 0, 0.1);
          box-shadow: inset -10px -10px 0px rgba(0, 0, 0, 0.1);
  margin: -40px 0 0 50px;
}
.person > .hairs > .hair3 {
  width: 150px;
  height: 70px;
  border-radius: 35px;
  background-color: #fff;
  -webkit-box-shadow: inset -10px -10px 0px rgba(0, 0, 0, 0.1);
          box-shadow: inset -10px -10px 0px rgba(0, 0, 0, 0.1);
  margin: -45px 0 0 5px;
}
.person > .body {
  width: 210px;
  height: 120px;
  border-radius: 40px;
  padding-top: 50px;
  margin-top: -40px;
  background-color: #FFC12C;
  -webkit-box-shadow: inset -10px -10px 0px rgba(0, 0, 0, 0.1);
          box-shadow: inset -10px -10px 0px rgba(0, 0, 0, 0.1);
}
.person > .body > .eyes .eye {
  width: 50px;
  height: 25px;
  border-radius: 12.5px;
  display: inline-block;
  margin-right: 5px;
  margin-left: 15px;
  background-color: #fff;
}
.person > .body > .eyes .eyeball {
  width: 25px;
  height: 25px;
  border-radius: 12.5px;
  background-color: #2F4A6E;
}
.person > .body > .mouth {
  width: 70px;
  height: 25px;
  border-radius: 12.5px;
  margin: 15px 0 0 70px;
  background-color: #F38A0C;
}
.person > .body > .mouth .food {
  width: 12px;
  height: 12px;
  border-radius: 6px;
  margin-left: -40px;
  background-color: #F38A0C;
}

.scene .title {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.scene .person {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.scene .person .message {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}
.scene .person * {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.scene:hover .title {
  opacity: 1;
}
.scene:hover .person {
  margin-top: 50px;
}
.scene:hover .body {
  -webkit-box-shadow: inset -10px -10px 0px rgba(0, 0, 0, 0.1), 30px 10px rgba(0, 0, 0, 0.1);
          box-shadow: inset -10px -10px 0px rgba(0, 0, 0, 0.1), 30px 10px rgba(0, 0, 0, 0.1);
}

.scene:active .question {
  display: block;
}
.scene:active .person {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}
.scene:active .hairs {
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
}

.person:hover {
  -webkit-transform: translateX(40px);
          transform: translateX(40px);
}
.person:hover .message {
  opacity: 1;
}
.person:hover .body {
  -webkit-box-shadow: inset -10px -10px 0px rgba(0, 0, 0, 0.1), -30px 10px rgba(0, 0, 0, 0.1);
          box-shadow: inset -10px -10px 0px rgba(0, 0, 0, 0.1), -30px 10px rgba(0, 0, 0, 0.1);
  background-color: #F38A0C;
  -webkit-transition: 0.5s, background-color 4s 1s;
  transition: 0.5s, background-color 4s 1s;
}
.person:hover .hair3 {
  margin-left: 0;
}
.person:hover .eyes {
  -webkit-transform: translateX(30px);
          transform: translateX(30px);
}
.person:hover .eyeball {
  -webkit-transform: translateX(25px);
          transform: translateX(25px);
}
.person:hover .mouth {
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
}