/* http://meyerweb.com/eric/tools/css/reset/ 
 * * v2.0 | 20110126
 * * License: none (public domain) */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Paytone+One&display=swap");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  padding: 0;
  background-color: inherit;
  border: none;
  cursor: pointer;
}

html, body {
  width: 100%;
}

body {
  background-color: #333;
}

.rect {
  width: 50%;
  height: 300px;
  position: relative;
  background-color: #fff;
}

.ball {
  width: 50px;
  height: 50px;
  background-color: red;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@-webkit-keyframes ani {
  0% {
    left: 0;
    background-color: green;
  }
  50% {
    width: 100px;
    height: 100px;
    background-color: blue;
    border-radius: 50%;
  }
  100% {
    left: calc(100% - 50px);
  }
}

@keyframes ani {
  0% {
    left: 0;
    background-color: green;
  }
  50% {
    width: 100px;
    height: 100px;
    background-color: blue;
    border-radius: 50%;
  }
  100% {
    left: calc(100% - 50px);
  }
}
.ball {
  -webkit-animation-name: ani;
          animation-name: ani;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes rotate {
  0%, 50%, 100% {
    -webkit-transform: translateX(0px) rotate(0deg);
            transform: translateX(0px) rotate(0deg);
  }
  25%, 75% {
    -webkit-transform: translateX(200px) rotate(45deg);
            transform: translateX(200px) rotate(45deg);
  }
}

@keyframes rotate {
  0%, 50%, 100% {
    -webkit-transform: translateX(0px) rotate(0deg);
            transform: translateX(0px) rotate(0deg);
  }
  25%, 75% {
    -webkit-transform: translateX(200px) rotate(45deg);
            transform: translateX(200px) rotate(45deg);
  }
}
.rect {
  -webkit-animation: rotate 5s ease-in-out 1s infinite;
          animation: rotate 5s ease-in-out 1s infinite;
}
.rect:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
.rect:hover .ball {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.middle {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.container1 {
  -webkit-transform: rotate(12deg);
          transform: rotate(12deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container1 .aniBall {
  -webkit-animation-delay: -0.1s;
          animation-delay: -0.1s;
}

.container2 {
  -webkit-transform: rotate(24deg);
          transform: rotate(24deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container2 .aniBall {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
}

.container3 {
  -webkit-transform: rotate(36deg);
          transform: rotate(36deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container3 .aniBall {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}

.container4 {
  -webkit-transform: rotate(48deg);
          transform: rotate(48deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container4 .aniBall {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
}

.container5 {
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container5 .aniBall {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
}

.container6 {
  -webkit-transform: rotate(72deg);
          transform: rotate(72deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container6 .aniBall {
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s;
}

.container7 {
  -webkit-transform: rotate(84deg);
          transform: rotate(84deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container7 .aniBall {
  -webkit-animation-delay: -0.7s;
          animation-delay: -0.7s;
}

.container8 {
  -webkit-transform: rotate(96deg);
          transform: rotate(96deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container8 .aniBall {
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
}

.container9 {
  -webkit-transform: rotate(108deg);
          transform: rotate(108deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container9 .aniBall {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s;
}

.container10 {
  -webkit-transform: rotate(120deg);
          transform: rotate(120deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container10 .aniBall {
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
}

.container11 {
  -webkit-transform: rotate(132deg);
          transform: rotate(132deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container11 .aniBall {
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s;
}

.container12 {
  -webkit-transform: rotate(144deg);
          transform: rotate(144deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container12 .aniBall {
  -webkit-animation-delay: -1.2s;
          animation-delay: -1.2s;
}

.container13 {
  -webkit-transform: rotate(156deg);
          transform: rotate(156deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container13 .aniBall {
  -webkit-animation-delay: -1.3s;
          animation-delay: -1.3s;
}

.container14 {
  -webkit-transform: rotate(168deg);
          transform: rotate(168deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container14 .aniBall {
  -webkit-animation-delay: -1.4s;
          animation-delay: -1.4s;
}

.container15 {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container15 .aniBall {
  -webkit-animation-delay: -1.5s;
          animation-delay: -1.5s;
}

.container16 {
  -webkit-transform: rotate(192deg);
          transform: rotate(192deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container16 .aniBall {
  -webkit-animation-delay: -1.6s;
          animation-delay: -1.6s;
}

.container17 {
  -webkit-transform: rotate(204deg);
          transform: rotate(204deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container17 .aniBall {
  -webkit-animation-delay: -1.7s;
          animation-delay: -1.7s;
}

.container18 {
  -webkit-transform: rotate(216deg);
          transform: rotate(216deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container18 .aniBall {
  -webkit-animation-delay: -1.8s;
          animation-delay: -1.8s;
}

.container19 {
  -webkit-transform: rotate(228deg);
          transform: rotate(228deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container19 .aniBall {
  -webkit-animation-delay: -1.9s;
          animation-delay: -1.9s;
}

.container20 {
  -webkit-transform: rotate(240deg);
          transform: rotate(240deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container20 .aniBall {
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
}

.container21 {
  -webkit-transform: rotate(252deg);
          transform: rotate(252deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container21 .aniBall {
  -webkit-animation-delay: -2.1s;
          animation-delay: -2.1s;
}

.container22 {
  -webkit-transform: rotate(264deg);
          transform: rotate(264deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container22 .aniBall {
  -webkit-animation-delay: -2.2s;
          animation-delay: -2.2s;
}

.container23 {
  -webkit-transform: rotate(276deg);
          transform: rotate(276deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container23 .aniBall {
  -webkit-animation-delay: -2.3s;
          animation-delay: -2.3s;
}

.container24 {
  -webkit-transform: rotate(288deg);
          transform: rotate(288deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container24 .aniBall {
  -webkit-animation-delay: -2.4s;
          animation-delay: -2.4s;
}

.container25 {
  -webkit-transform: rotate(300deg);
          transform: rotate(300deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container25 .aniBall {
  -webkit-animation-delay: -2.5s;
          animation-delay: -2.5s;
}

.container26 {
  -webkit-transform: rotate(312deg);
          transform: rotate(312deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container26 .aniBall {
  -webkit-animation-delay: -2.6s;
          animation-delay: -2.6s;
}

.container27 {
  -webkit-transform: rotate(324deg);
          transform: rotate(324deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container27 .aniBall {
  -webkit-animation-delay: -2.7s;
          animation-delay: -2.7s;
}

.container28 {
  -webkit-transform: rotate(336deg);
          transform: rotate(336deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container28 .aniBall {
  -webkit-animation-delay: -2.8s;
          animation-delay: -2.8s;
}

.container29 {
  -webkit-transform: rotate(348deg);
          transform: rotate(348deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container29 .aniBall {
  -webkit-animation-delay: -2.9s;
          animation-delay: -2.9s;
}

.container30 {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container30 .aniBall {
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
}

.aniBall {
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  -webkit-animation-name: ballAni;
          animation-name: ballAni;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes ballAni {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    background-color: yellow;
  }
  50% {
    width: 50px;
    height: 50px;
  }
  100% {
    -webkit-transform: translateX(200px);
            transform: translateX(200px);
    background-color: red;
  }
}

@keyframes ballAni {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    background-color: yellow;
  }
  50% {
    width: 50px;
    height: 50px;
  }
  100% {
    -webkit-transform: translateX(200px);
            transform: translateX(200px);
    background-color: red;
  }
}
.container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #333;
  grid-gap: 300px;
}